.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1c1c1c;
  padding: 5px 20px;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.heading {
  font-size: 24px;
}
Popular-heading{
  font-size: 16px;
}
.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #ffcc00;
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
  color: #ffcc00;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-bar input {
  padding: 8px;
  font-size: 1rem;
  border: 2px solid #ffcc00;
  border-radius: 5px;
  background-color: #2a2a2a;
  color: #fff;
}

.search-bar input::placeholder {
  color: #aaa;
}

.search-bar button {
  padding: 8px 12px;
  font-size: 1rem;
  border: none;
  background-color: #ffcc00;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.search-bar button:hover {
  background-color: #ffaa00;
}

/* Responsive */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .nav-links {
    gap: 10px;
  }

  .search-bar {
    width: 100%;
    justify-content: center;
  }

  .search-bar input {
    width: 70%;
  }
}
